@media screen and (min-width: 968px) and (max-width: 1728px) {
  .crew-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-image: url("../../assets/background-crew-desktop.jpg");
    flex-direction: column;
    background-size: cover;
    padding: 0px 0px 0px 166.5px;
    .outter-container {
      position: fixed;
      top: 40px;
    }
    .crew-inner {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .pick{
        position: fixed;
        top: 212px;
        span{
          margin-right: 24px;
        }
      }
      .emmanuel{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;

      }
    }
  }
}
