@media screen and (min-width: 968px) and (max-width: 1728px) {
  .pick {
    // width: 382px;
    display: flex;
    font-size: 28px;
    letter-spacing: 4.72px;
    font-family: var(--space-font-barlow-condensed);
    color: white;
    // justify-content: space-between;
    span {
      font-weight: bold;
      opacity: 25%;
    }
  }
}
