@media screen and (min-width: 769px) and (max-width: 1440px) {
  .text-container {
    width: 450px;
    height: 382px;

    display: flex;
    flex-direction: column;
    span {
      &:nth-child(1) {
        font-size: 28px;
        color: var(--space-light-blue);
        font-family: "Barlow Condensed", "sans-serif";
        letter-spacing: 4.72px;
        height: 34px;

        margin-bottom: 24px;
      }
      &:nth-child(2) {
        font-size: 150px;
        font-family: "Bellefaire", "sans-serif";
        color: white;
        height: 172px;

        margin-bottom: 24px;
      }
      &:nth-child(3) {
        font-size: 18px;
        font-family: "Barlow", "sans-serif";
        color: var(--space-light-blue);
        line-height: 32px;
        height: 128px;
      }
    }
  }
}
